web.config
assets/ajax/
assets/animation360/
assets/animations/
assets/designerImages/
assets/floorPlans
assets/images/
assets/kendo-ui/
assets/pdf/
assets/photoXML/
assets/planImages/
assets/plannavimages/
assets/printPlanImages/
assets/renderings/
assets/scripts/
assets/skins/
assets/swf/
assets/tempphotos/
assets/videos/
